
<button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()" >deconnexion</button>    
<div class="wrapper fadeInDown ">
  <div id="formContent">
    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Identifiant">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="Mot de passe">
      <button type="button" class="btn btn-info btn-round btn-lg btn-block" *ngIf="!authStatus" (click)="onSignIn()">connexion </button>
    </form>
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Creer un compte</a>
    </div>

  </div>
</div>

    
